<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <title>{{title}}</title>
</head>

<body>
  <header>
    <a href="/">Jamstack Fast Track</a>
    <nav>
      <a href="/" {% if page.url == "/" %}class="active"{% endif %}>Home</a>
      <a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>About</a>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
    <p>Built by me</p>
  </footer>

</body>

</html>